.mainHeight {
  height: calc(100vh - 80px);
}


.slideWrapper {
  max-width: 100%;
}

.slideImage {
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .slideImage {
    aspect-ratio: initial;
  }
}

/* Works  */
.gradientAnimation {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.5),
    rgba(255, 255, 0, 0.5),
    rgba(255, 0, 0, 0.5)
  );
  background-size: 600% 600%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: AnimeGrade 10s ease infinite;
}

@keyframes AnimeGrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
